In [ ]:
# connecting to database

import sqlite3

conn = sqlite3.connect('Chinook_Sqlite.sqlite')
'''
datasource:
https://github.com/lerocha/chinook-database/blob/master/ChinookDatabase/DataSources/Chinook_Sqlite.sqlite
'''

In [ ]:
# creating cursor

cursor = conn.cursor()

In [ ]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

In [ ]:
# different tables in the database

tables = cursor.fetchall()
print(tables)

In [ ]:
# print data from Album table

table_name = 'Album'
cursor.execute(f'SELECT * FROM {table_name};')
album_data = cursor.fetchall()
print(album_data)
print('\n')
col_names = [description[0] for description in cursor.description]
print(col_names)

In [ ]:
'''get name of each table along with their columns'''
for table in tables:
    table_name = table[0]
    print(f'Table name: {table_name}')
    cursor.execute(f'SELECT * FROM {table_name};')
    col_names = [description[0] for description in cursor.description]
    print(col_names)
    print('\n')

In [ ]:
'''select all customers who are from USA'''

cursor.execute(f"""
SELECT *
FROM Customer
WHERE Country = "USA";
""")
customersFromUSA = cursor.fetchall()

col_names = [description[0] for description in cursor.description]
print(col_names)
for customer in customersFromUSA:
    print(customer)

In [ ]:
'''select firstname and lastname from customers'''

cursor.execute(f"""
SELECT FirstName, LastName
FROM Customer;
""")
customersFirstAndLastNames = cursor.fetchall()

col_names = [description[0] for description in cursor.description]
print(col_names)
for customer in customersFirstAndLastNames:
    print(customer)

In [ ]:
'''select all company from customers where country is USA'''

cursor.execute("""
SELECT Company
FROM Customer
WHERE Country = "USA";
""")
companiesWithCustomersFromUSA = cursor.fetchall()

col_names = [description[0] for description in cursor.description]
print(col_names)
for customer in companiesWithCustomersFromUSA:
    print(customer)

In [ ]:
'''retreive names of all tracks along with their album titles'''

cursor.execute("""
SELECT Track.Name, Album.Title
FROM Album, Track
WHERE Track.AlbumId=Album.AlbumId;
""")
tracksAndAlbumTitles = cursor.fetchall()

col_names = [description[0] for description in cursor.description]
print(col_names)
for track in tracksAndAlbumTitles:
    print(track)

In [ ]:
'''Retreive names of customer who purchased the album "Let There Be Rock"'''

cursor.execute("""
SELECT Customer.FirstName, Customer.LastName
FROM Customer, Invoice, InvoiceLine, Track, Album
WHERE Customer.CustomerId = Invoice.CustomerId
AND Invoice.InvoiceId = InvoiceLine.InvoiceId
AND InvoiceLine.TrackId = Track.TrackId
AND Track.AlbumId = Album.AlbumId
AND Album.Title = "Let There Be Rock"
""")

customersWhoPurchasedLetThereBeRock = cursor.fetchall()

col_names = [description[0] for description in cursor.description]
print(col_names)
for customer in customersWhoPurchasedLetThereBeRock:
    print(customer)



'''
the above code utilized crooss-product which becomes ineffcient for bigger tables
thus use JOIN to get improved perfomance
'''

In [ ]:
'''each country has how many customers?'''

cursor.execute("""
SELECT Country, COUNT(*)
FROM Customer
GROUP BY Country
""")

customerCountByCountry = cursor.fetchall()

col_names = [description[0] for description in cursor.description]
print(col_names)
for country in customerCountByCountry:
    print(country)

In [ ]:
'''find most expensive track'''

cursor.execute("""
SELECT TrackId, Name, MAX(UnitPrice)
FROM Track
""")

mostExpensiveTrack = cursor.fetchall()

col_names =[description[0] for description in cursor.description]
print(col_names)
for track in mostExpensiveTrack:
    print(track)


# alternate way, by using ORDER BY
# cursor.execute("""
# SELECT TrackId, Name, UnitPrice
# FROM Track
# ORDER BY UnitPrice DESC
# """)

In [ ]:
'''count number of tracks in each Genre'''

cursor.execute("""
SELECT Genre.name, COUNT(Track.TrackId)
FROM Genre
JOIN Track ON Genre.GenreId = Track.GenreId
GROUP BY Genre.name
""")

trackCountByGenre = cursor.fetchall()

col_names = [description[0] for description in cursor.description]
print(col_names)
for genre in trackCountByGenre:
    print(genre)

In [ ]:
'''find artists with more that one album'''

cursor.execute("""
SELECT Artist.Name AS ArtistName, COUNT(Album."AlbumId")
FROM Artist
JOIN Album ON Artist."ArtistId" = Album."ArtistId"
GROUP BY Artist."Name"
HAVING COUNT(Album.AlbumId) > 1
""")

artistsWithMoreThanOneAlbum = cursor.fetchall()
col_names = [description[0] for description in cursor.description]
print(col_names)
for artist in artistsWithMoreThanOneAlbum:
  print(artist)

In [ ]:
'''calculate average invoice total'''

cursor.execute("""
SELECT AVG(Total)
FROM Invoice
""")

averageInvoiceTotal = cursor.fetchall()
col_names = [description[0] for description in cursor.description]
print(col_names)
for total in averageInvoiceTotal:
  print(total)